{% load static %}

<header id="header" class="header">
    <div class="top-left" style="box-shadow: none">
        <div class="navbar-header">
            <a class="navbar-brand" href="./" align="center"><img src="{% static 'images/breadLogo.png' %}"
                    alt="Logo" /></a>
            <a class="navbar-brand hidden" href="./"><img src="{% static 'images/breadLogo.png' %}" alt="Logo" /></a>
            <a id="menuToggle" class="menu-toggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu">
            <div class="header-left">
                <div class="dropdown for-notification">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="count bg-danger">0</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="notification">
                        <p class="red">No Notification</p>
                        <a class="dropdown-item media" href="#">
                            <i class="fa fa-check"></i>
                            <p>New Notification will show here</p>
                        </a>
                    </div>
                </div>
                <button data-toggle="button" class="btn btn-sm toggle-theme">
                    <i class="fas fa-sun"></i>
                </button>
                <div class="user-area dropdown float-right">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm" style="margin-left: 20px" type="submit">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>