{% extends 'base/customer_base.html' %}
{% load static %}
{% block content %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/customer_my_plate.css' %}">
{% endblock head %}
<div align="center">
    <div class="my-plate-card">
        <div class="row area">
            <div class="col-md-8 cart border-top">
                <div class="title ">
                    <div class="row">
                        <div class="col">
                            <h4><b>My Orders</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">{{ count }}</div>
                    </div>
                </div>
                <div class="row border-top">
                {% if orders %}
                    {% for order in orders %}
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid my-plate-img" src="https://i.imgur.com/1GrakTl.jpg">
                        </div>
                        <div class="col">
                            <div class="row text-muted">{{ order.product.name }}</div>
                            <div class="row">{{ order.product.desc }}</div>
                        </div>
                        <p style="margin: 0; padding: 0">{{ order.quantity }}</p>
                        <div class="col">&dollar;<span id="rate">
                            {% widthratio order.quantity 1 order.product.price%}</span><a
                                class="btn-danger btn btn-sm my-plate-a" style="margin-left:
                    10px"><i class="fa fa-times my-plate-i" aria-hidden="true"></i></a></div>
                    </div>
                    {% endfor %}
                {% else %}
                      <div class="row main align-items-center justify-content-center" align="center">
                         <h6>Your Plate is Empty</h6>
                      </div>
                {% endif %}
                </div>
                <div class="back-to-shop"><a class="my-plate-a" href="{% url 'products' %}">
                        <i class="fa fa-arrow-left" style="margin-right: 10px" aria-hidden="true"></i>
                        Back to shop</a>
                </div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5 class="my-plate-h5"><b>Summary</b></h5>
                </div>
                <hr class="my-plate-hr">
                <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS {{ count }}</div>
                    <div id="total" class="col text-right">&dollar; {{ total }}</div>
                </div>
                <form class="my-plate-form">
                    <p>SERVICE CHARGE</p><a class="btn btn-info disabled my-plate-a" style="margin-bottom: 15px; color:
                white;">Standard &dollar;5
                        .00</a>
                    <p>DISCOUNT CODE</p> <label for="code"><input class="my-plate-input" id="code"
                            placeholder="Your code here" /></label>
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div id="net-total" class="col">TOTAL PRICE</div>
                    <div class="col text-right">&dollar; {{ total }}</div>
                </div> <button class="btn btn-success btn-block">ORDER</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}