@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;

}
body{
    font-family: var(--sm-font);
    background-image: url("../images/bread_pattern.png");
    animation: animate 30s linear infinite;
}
.dark{
    background-image: url("../images/dark_bread_pattern.png");
    animation: animate 30s linear infinite;
}

.toggle-theme {
    display: inherit;
    position: relative;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: #8bc34a;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
.toggle-theme:hover{
    background-color: #6a9d2f;
}

.toggle-theme i {
    line-height: 40px;
}


@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 740px;
    }
}

/* button */
.bg-primary{
    background-color: #F3C969 !important;
}

.card-btn{
    width: 100%;
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 5px 28px;
    border-radius: 5px;
    border: 1px solid rgb(85, 85, 85);
}

.card{
    max-width: 960px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.19);
}

/* text color */
.text-primary{
    color: #F3C969 !important;
}

/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.nav{
    background-color: #362C28;
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: #F3C969 !important;
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #F3C969;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* collection */
.active-filter-btn{
    background-color: #F3C969 !important;
    color: #fff!important;
    border-color: #F3C969 !important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 30px;
    border-radius: 10%;
}

/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    border: solid transparent;
    border-radius: 10%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.s1{
    border: solid transparent;
    border-radius: 10%;
    animation: pulse 3s cubic-bezier(1,0,0,1) infinite;
}
.s2{
    border: solid transparent;
    border-radius: 10%;
    animation: pulse 3s 0.1s cubic-bezier(1,0,0,1) infinite;
}
.s3{
    border: solid transparent;
    border-radius: 10%;
    animation: pulse 3s 0.15s cubic-bezier(1,0,0,1) infinite;
}

.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.1);
}
.special-img img ~ .text-primary{
    animation: scale 2s ease infinite;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img ~ .text-primary{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.animated-btn{
    animation: pulse2 2s ease infinite;

}
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
    70% {
        transform: scale(0.96);
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0);
    }
}
@keyframes pulse2 {
    0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(243, 201, 105, 0.7);
    }
    70% {
        transform: scale(1);
    box-shadow: 0 0 5px 10px rgba(243, 201, 105, 0.0);
    }
    100% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(243, 201, 105, 0.0);
    }
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.product-img{
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid transparent;
}


.feat{
    background-color: #fff;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}

.footer {
    background-color: #EF476FFF;
    padding: 50px 0 0;
}

.back-to-shop-order {
    margin: 2.5rem
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 20px 0 20px 0;
    text-transform: capitalize;
}

.footer-col p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
    padding: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
}

.footer .copyright-text {
    margin: 50px 0 0;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-col li::marker{
    color: transparent;
}

/* media queries */
@media(max-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}

@media(max-width: 768px){
    .customer-nav{
        padding-bottom: 40px;
    }
}

