@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  background-image:url("../images/bread_pattern.png");
  animation: animate 30s linear infinite ;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-reg {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 50%;
  transform: translate(-50%, -50%);
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.log-form {
  opacity: 0;
  z-index: 1;
}

form.reg-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  position: relative;
  background-color: #f0f0f0;
  width: 100%;
  max-width: 380px;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 70%;
  padding: 0 0.4rem;
  margin: 10px 0;
}

.input-field i {
  text-align: center;
  font-size: 1.1rem;
  color: #acacac;
  line-height: 55px;
  transition: 0.5s;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  line-height: 1;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.body-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.body-text-grey{
  padding: 0.7rem 0;
  font-size: 1rem;
  color:#aaa;

}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 20%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  width: 150px;
  background-color: #f5a459;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover{
  background-color: #F3C969;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  right: 50%;
  background-image: linear-gradient(-45deg, #F3C969 0%, #F09D51 100%);
  transition: 1.5s ease-in-out;
  z-index: 6;
}

@keyframes animate {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 740px;
  }

}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 20% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 20% 2rem 20%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.logo{
  position: absolute;
  max-width: 200px;
  max-height: 140px;
  z-index: 10000;

  margin-bottom: 650px;
}
.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
   border-radius: 10px;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/*Animations*/

.container.sign-in-activate:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-in-activate .left-panel .image,
.container.sign-in-activate .left-panel .content{
  transform: translateX(-800px);
}

.container.sign-in-activate .login-reg {
  left: 25%;
}

.container.sign-in-activate form.log-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-in-activate form.reg-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-in-activate .right-panel .image,
.container.sign-in-activate .right-panel .content {
  transform: translateX(0%);
}

.container.sign-in-activate .left-panel {
  pointer-events: none;
}

.container.sign-in-activate .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {

  .container {
    min-height: 800px;
    height: 100vh;
  }
  .login-reg {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -120%);
    transition: 1s 0.8s ease-in-out;
  }

  .login-reg,
  .container.sign-in-activate .login-reg {
    left: 50%;
  }
   .logo{
  position: relative;
  max-width: 0;
  max-height: 0;
  z-index: 00;
    opacity: 0;

}

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .panel h3 {
    font-size: 1.2rem;
  }


  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-in-activate:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-in-activate .left-panel .image,
  .container.sign-in-activate .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-in-activate .right-panel .image,
  .container.sign-in-activate .right-panel .content {
    transform: translateY(0px);
  }

  .container.sign-in-activate .login-reg {
    top: 5%;
    transform: translate(-50%, 10%);
  }
  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }
  .logo{
    z-index: 00;
  }

}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
  .logo{
  position: relative;
  max-width: 0;
  max-height: 0;
  z-index: 00;
    opacity: 0;

}
  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-in-activate:before {
    bottom: 28%;
    left: 50%;
  }
  .logo{
    z-index: 00;
  }
}