@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.flat-color-1 {
    color: #00c292;
}
.flat-color-2 {
    color: #ab8ce4;
}
.flat-color-3 {
    color: #03a9f3;
}
.flat-color-4 {
    color: #fb9678;
}
body {
    display: table;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 100%;
    background-image: url("../images/bread_pattern.png");
    animation: animate 30s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 740px;
    }
}
p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #878787;
}
a,
button {
    text-decoration: none;
    outline: none !important;
    color: #878787;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol {
    padding-left: 0;
}
.btn:focus,
button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0;
}
img {
    max-width: 100%;
}
.ov-h {
    overflow: hidden;
}
.btn,
button,
input,
textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}
.btn {
    border-radius: 3px;
}
.text-muted {
    font-size: 14px;
}
.text-muted.muted-black {
    color: #333648 !important;
    font-weight: 600;
}
.progress-box {
    margin-bottom: 30px;
}
.progress-box .por-title {
    font-size: 1em;
    font-weight: 600;
    color: #868e96;
    padding-bottom: 5px;
}
.progress-box .por-txt {
    font-size: 13px;
    padding-bottom: 5px;
}
.order-table {
    position: relative;
}
.order-table:after,
.order-table:before {
    content: "";
    position: absolute;
    top: 0;
    height: 37px;
    width: 10px;
    background: #e8e9ef;
}
.order-table:after {
    right: -1px;
}
.order-table:before {
    left: -1px;
}
.order-table tr th {
    background: #e8e9ef;
}
.order-table tr td:last-child,
.order-table tr th:last-child {
    text-align: right;
}
.order-table tr:last-child td {
    border: none;
}
.order-table .badge {
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: normal;
}
.order-table .badge-complete {
    background: #00c292;
}
.order-table .badge-pending {
    background: #fb9678;
}

/* Global Styles */
/* Main Styles */
aside.left-panel {
    background: #fff;
    height: 100vh;
    padding: 0;
    vertical-align: top;
    width: 280px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 999;
}
aside.left-panel:hover {
    overflow-x: scroll;
}
.open aside.left-panel:hover {
    overflow-x: inherit;
}
.small-device .right-panel {
    margin-left: 83px;
}
.navbar {
    background: #fff;
    border-radius: 0;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.navbar .main-menu {
    float: left;
    padding: 0 0 50px;
}

.navbar .menu-title {
    color: #41434d;
    clear: both;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}
.navbar .navbar-nav {
    float: none;
    position: relative;
}
.navbar .navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
}
.navbar .navbar-nav > li.active {
    background: #fff;
}
.navbar .navbar-nav li {
    width: 100%;
}
.navbar .navbar-nav li.active .menu-icon,
.navbar .navbar-nav li:hover .toggle_nav_button:before,
.navbar .navbar-nav li .toggle_nav_button.nav-open:before {
    color: #F3C969;
}
.navbar .navbar-nav li .dropdown-toggle:after {
    display: none;
}
.navbar .navbar-nav li > a {
    background: none !important;
    color: #607d8b;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
.navbar .navbar-nav li > a:hover,
.navbar .navbar-nav li > a:hover .menu-icon {
    color: #F3C969;
}
.navbar .navbar-nav li > a .menu-icon {
    color: #607d8b;
    float: left;
    margin-top: 8px;
    width: 55px;
    text-align: left;
    z-index: 9;
}
.navbar .navbar-nav li > a .menu-title-text {
    font-size: 14px;
}
.navbar .navbar-nav li > a .badge {
    border-radius: 0;
    font-weight: 600;
    float: right;
    margin: 6px 0 0 0;
    padding: 0.4em 0.5em;
}
.navbar .navbar-nav li.menu-item-has-children {
    position: relative;
}
.navbar .navbar-nav li.menu-item-has-children a {
    line-height: 30px;
}
.navbar .navbar-nav li.menu-item-has-children a:before {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #607d8b #607d8b transparent transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.navbar .navbar-nav li.menu-item-has-children a:hover:before {
    border-color: #F3C969 #F3C969 transparent transparent;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
    background: #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow-y: hidden;
    padding: 0 0 0 35px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu li {
    position: relative;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu i {
    color: #c8c9ce;
    float: left;
    padding: 0;
    position: absolute;
    left: 0;
    font-size: 14px;
    top: 9px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a {
    padding: 2px 0 2px 30px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
    content: "";
    display: none;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
    top: 13px;
    text-align: left;
    width: 25px;
}
.navbar .navbar-nav li.menu-item-has-children.show a:before {
    border-color: transparent #607d8b #607d8b transparent;
    top: 20px;
    right: -5px;
}
.navbar .navbar-nav li.menu-item-has-children.show a:hover:before {
    border-color: transparent #F3C969 #F3C969 transparent;
}
.navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    max-height: 1000px;
    opacity: 1;
    position: static !important;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
    color: #F3C969;
}
.navbar-nav li span.count {
    background: #a9d86e;
    border-radius: 50%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 15px;
    text-align: center;
}
.open .navbar .navbar-brand.hidden {
    display: block;
}
.open .sub-menu .subtitle {
    display: block;
    font-size: 15px;
    line-height: 35px;
    color: #607d8b;
    border-bottom: 1px solid rgba(96, 125, 139, 0.15);
}
.open .sub-menu i {
    left: 15px !important;
}
.sub-menu .subtitle {
    display: none;
}
.sub-menu .subtitle > .menu-icon {
    display: none;
}
.open aside.left-panel {
    max-width: 83px;
    width: 83px;
}
.open aside.left-panel .navbar .navbar-header {
    padding: 0;
}
.open aside.left-panel .navbar .navbar-brand {
    display: none;
}
.open aside.left-panel .navbar .navbar-brand.hidden {
    display: block !important;
    text-align: center;
    width: 100%;
}
.open aside.left-panel .navbar .navbar-brand.hidden img {
    max-width: 100%;
    margin: 0 auto;
}
.open aside.left-panel .navbar .navbar-brand.d-md-none {
    display: block !important;
    margin: 13px 0 0;
    min-height: 67px;
    padding: 0;
    text-align: center;
}
.open aside.left-panel .navbar .navbar-nav:before {
    display: none !important;
}
.open aside.left-panel .navbar .navbar-nav li {
    position: relative;
    padding: 0 15px;
}
.open aside.left-panel .navbar .navbar-nav li a {
    font-size: 0;
    z-index: 0;
    -webkit-transition: none;
    transition: none;
}
.open aside.left-panel .navbar .navbar-nav li a .menu-icon {
    font-size: 20px;
    z-index: -1;
    text-align: center;
    width: inherit;
}
.open aside.left-panel .navbar .navbar-nav li a .menu-title-text {
    font-size: 0;
}
.open aside.left-panel .navbar .navbar-nav li a .badge {
    display: none;
}
.open aside.left-panel .navbar .navbar-nav li > a {
    max-width: 60px;
    padding-left: 0;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children {
    overflow: hidden;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children ul {
    padding-left: 0;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
    display: block;
    left: 83px;
    top: 0;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
    display: block;
    font-size: 14px;
    max-width: inherit;
    padding: 2px 15px 2px 25px;
    width: 100%;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
    text-align: center;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show {
    overflow: visible;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    position: absolute !important;
    width: 180px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}
.open aside.left-panel .navbar .navbar-nav li span.count {
    display: none;
    margin-right: 5px;
    z-index: 1;
}
.open aside.left-panel .navbar .navbar-nav li.active a:after {
    content: "";
    display: none;
}
.open aside.left-panel .navbar .navbar-nav .menu-title {
    font-size: 0;
    line-height: 0;
    opacity: 0;
    padding: 0;
}
.open aside.left-panel .menu-toggle {
    background-color: #dc3545;
    color: #fff !important;
    right: -20px;
    text-align: center;
}
.breadcrumbs {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
