@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.flat-color-1 {
    color: #fff;
}
.flat-color-2 {
    color: #fff;
}
.flat-color-3 {
    color: #fff;
}
.flat-color-4 {
    color: #fff;
}
body {
    display: table;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 100%;
    background-image: url("../images/bread_pattern.png");
    animation: animate 30s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 740px;
    }
}
p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #878787;
}
a,
button {
    text-decoration: none;
    outline: none !important;
    color: #878787;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    padding-left: 0;
}
.btn:focus,
button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0;
}
img {
    max-width: 100%;
}
.ov-h {
    overflow: hidden;
}
.btn,
button,
input,
textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}
.btn {
    border-radius: 3px;
}
.text-muted {
    font-size: 14px;
}
.text-muted.muted-black {
    color: #333648 !important;
    font-weight: 600;
}
.progress-box {
    margin-bottom: 30px;
}
.progress-box .por-title {
    font-size: 1em;
    font-weight: 600;
    color: #868e96;
    padding-bottom: 5px;
}
.progress-box .por-txt {
    font-size: 13px;
    padding-bottom: 5px;
}
.order-table {
    position: relative;
}
.order-table:after,
.order-table:before {
    content: "";
    position: absolute;
    top: 0;
    height: 37px;
    width: 10px;
    background: #e8e9ef;
}
.order-table:after {
    right: -1px;
}
.order-table:before {
    left: -1px;
}
.order-table tr th {
    background: #e8e9ef;
}
.order-table tr td:last-child,
.order-table tr th:last-child {
    text-align: right;
}
.order-table tr:last-child td {
    border: none;
}
.order-table .badge {
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: normal;
}
.order-table .badge-complete {
    background: #00c292;
}
.order-table .badge-pending {
    background: #fb9678;
}

/* Global Styles */
/* Main Styles */
aside.left-panel {
    background: #F3C969;
    height: 100vh;
    padding: 0;
    vertical-align: top;
    width: 280px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 999;
}
aside.left-panel:hover {
    overflow-x: scroll;
}
.open aside.left-panel:hover {
    overflow-x: inherit;
}
.small-device .right-panel {
    margin-left: 83px;
}
.navbar {
    background: #F3C969;
    border-radius: 0;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.navbar .main-menu {
    float: left;
    padding: 0 0 50px;
}

.navbar .menu-title {
    background-color: #ecbf57;
    color: #362C28;
    clear: both;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}
.navbar .navbar-nav {
    float: none;
    position: relative;
}
.navbar .navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
}
.navbar .navbar-nav > li.active {
    background: #F3C969;
}
.navbar .navbar-nav li {
    width: 100%;
}

.navbar .navbar-nav li .dropdown-toggle:after {
    display: none;
}
.navbar .navbar-nav li > a {
    background: none !important;
    color: #362C28;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
.navbar .navbar-nav li > a > i{
    color: white;
}
.navbar .navbar-nav li > a:hover,
.navbar .navbar-nav li > a:hover .menu-icon {
    color: #fff;
}
.navbar .navbar-nav li > a .menu-icon {
    color: #362C28;
    float: left;
    margin-top: 8px;
    width: 40px;
    text-align: left;
    z-index: 9;
}
.navbar .navbar-nav li > a .menu-title-text {
    font-size: 14px;
}
.navbar .navbar-nav li > a .badge {
    border-radius: 0;
    font-weight: 600;
    float: right;
    margin: 6px 0 0 0;
    padding: 0.4em 0.5em;
}
.navbar .navbar-nav li.menu-item-has-children {
    position: relative;
}
.navbar .navbar-nav li.menu-item-has-children a {
    line-height: 30px;
}
.navbar .navbar-nav li.menu-item-has-children a:before {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: #362C28 #362C28 transparent transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.25s ease;
    transition: all 0.15s ease-in-out;
}
.navbar .navbar-nav li.menu-item-has-children a:hover:before {
    border-color: #ffffff #ffffff transparent transparent;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
    background: #F3C969;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow-y: hidden;
    padding: 0 0 0 35px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu li {
    position: relative;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu i {
    color: #362C28;
    float: left;
    padding: 0;
    position: absolute;
    left: 0;
    font-size: 14px;
    top: 9px;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu i :hover{
    color: #ffffff;
}
.navbar .navbar-nav li.menu-item-has-children.dropdown.show > ul > li:hover > i{
    color:white;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a {
    padding: 2px 0 2px 30px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
    content: "";
    display: none;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
    top: 13px;
    text-align: left;
    width: 25px;
}
.navbar .navbar-nav li.menu-item-has-children.show a:before {
    border-color: transparent #362C28 #362C28 transparent;
    top: 20px;
    right: -5px;
}
.navbar .navbar-nav li.menu-item-has-children.show a:hover:before {
    border-color: transparent #fff #fff transparent;
}
.navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    max-height: 1000px;
    opacity: 1;
    position: static !important;
}

.navbar-nav li span.count {
    background: #a9d86e;
    border-radius: 50%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 15px;
    text-align: center;
}

.open .navbar .navbar-brand.hidden {
    display: block;
}
.open .sub-menu .subtitle {
    display: block;
    font-size: 15px;
    line-height: 35px;
    color: #362C28;
    border-bottom: 1px solid rgba(54, 44, 40, 0.5);
}
.open .sub-menu i {
    left: 15px !important;
}
.sub-menu .subtitle {
    display: none;
}
.sub-menu .subtitle > .menu-icon {
    display: none;
}
.open aside.left-panel {
    max-width: 83px;
    width: 83px;
}
.open aside.left-panel .navbar .navbar-header {
    padding: 0;
}
.open aside.left-panel .navbar .navbar-brand {
    display: none;
}
.open aside.left-panel .navbar .navbar-brand.hidden {
    display: block !important;
    text-align: center;
    width: 100%;
}
.open aside.left-panel .navbar .navbar-brand.hidden img {
    max-width: 100%;
    margin: 0 auto;
}
.open aside.left-panel .navbar .navbar-brand.d-md-none {
    display: block !important;
    margin: 13px 0 0;
    min-height: 67px;
    padding: 0;
    text-align: center;
}
.open aside.left-panel .navbar .navbar-nav:before {
    display: none !important;
}
.open aside.left-panel .navbar .navbar-nav li {
    position: relative;
    padding: 0 15px;
}
.open aside.left-panel .navbar .navbar-nav li a {
    font-size: 0;
    z-index: 0;
    -webkit-transition: none;
    transition: none;
}
.open aside.left-panel .navbar .navbar-nav li a .menu-icon {
    font-size: 20px;
    z-index: -1;
    text-align: center;
    width: inherit;
}
.open aside.left-panel .navbar .navbar-nav li a .menu-title-text {
    font-size: 0;
}
.open aside.left-panel .navbar .navbar-nav li a .badge {
    display: none;
}
.open aside.left-panel .navbar .navbar-nav li > a {
    max-width: 60px;
    padding-left: 0;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children {
    overflow: hidden;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children ul {
    padding-left: 0;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
    display: block;
    left: 83px;
    top: 0;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
    display: block;
    font-size: 14px;
    max-width: inherit;
    padding: 2px 15px 2px 25px;
    width: 100%;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
    text-align: center;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show {
    overflow: visible;
}
.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    position: absolute !important;
    width: 180px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}
.open aside.left-panel .navbar .navbar-nav li span.count {
    display: none;
    margin-right: 5px;
    z-index: 1;
}
.open aside.left-panel .navbar .navbar-nav li.active a:after {
    content: "";
    display: none;
}
.open aside.left-panel .navbar .navbar-nav .menu-title {
    font-size: 0;
    line-height: 0;
    opacity: 0;
    padding: 0;
}
.open aside.left-panel .menu-toggle {
    background-color: #dc3545;
    color: #fff !important;
    right: -20px;
    text-align: center;
}
.breadcrumbs {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/* Right panel */
.right-panel {
    background: #f1f2f7;
    margin-left: 280px;
    margin-top: 30px;
}
.right-panel .top-left {
    width: 350px;
    float: left;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.right-panel .top-right {
    float: right;
}
.right-panel .breadcrumbs {
    float: left;
    padding: 0 1.875em;
    width: 100%;
}
.right-panel .breadcrumbs .breadcrumbs-inner {
    background-color: #fff;
}
.right-panel .breadcrumbs .col-lg-8 .page-header {
    float: left;
}
.right-panel .page-header {
    min-height: 50px;
    margin: 0;
    padding: 0 15px;
    background: #ffffff;
    border: none;
}
.right-panel .page-header h1 {
    font-size: 18px;
    padding: 15px 0;
}
.right-panel .page-header .breadcrumb {
    margin: 0;
    padding: 14px 0;
    background: #fff;
    text-transform: capitalize;
}
.right-panel .page-header .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.right-panel header.header {
    background: #362c28;
    -webkit-box-shadow: none;
    box-shadow: none;
    clear: both;
    padding: 0 30px;
    height: 55px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}
.right-panel .navbar-brand {
    width: 185px;
    display: inline-block;
}
.right-panel .menu-toggle {
    padding-top: 7px;
}
.right-panel .navbar-header {
    width: 100%;
    background-color: #362c28;
    padding: 0 1.25em 0 0;
}
.right-panel .navbar-header > a {
    display: inline-block;
}
.right-panel .navbar-brand {
    line-height: 30px;
}
.right-panel .navbar-brand img {
    max-width: 145px;
}
.right-panel .navbar-brand.hidden {
    display: none;
}
.open .right-panel {
    margin-left: 83px;
}
.open .let-panel {
    z-index: 999;
}
header {
    border: none;
}
header.fixed-top {
    background: #fff;
    padding: 20px;
}
.menu-toggle {
    background-color: transparent;
    color: #99abb4 !important;
    cursor: pointer;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    width: 40px;
    display: block;
    text-align: right;
}

header .form-inline {
    background: #131c21;
    display: none;
    height: 55px;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}
header .form-inline .search-form {
    height: 100%;
    max-width: 1025px;
    margin: 0 auto;
    position: relative;
}
header .form-inline .search-form input[type="text"] {
    background: #131c21;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #d3d3d3;
    font-size: 16px;
    height: inherit;
    margin-right: 0 !important;
    padding: 10px 36px 10px 15px;
    width: 100%;
}
header .form-inline .search-form input[type="text"].active,
header .form-inline .search-form input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0.125);
    outline: 0;
}
header .form-inline .search-form button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -14px !important;
}
header .form-inline .search-form button:active,
header .form-inline .search-form button:focus,
header .form-inline .search-form button:visited,
header .form-inline .search-form .btn-outline-success:hover {
    background: transparent;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}
header .form-inline .search-form.close {
    display: none;
}
.header-left {
    display: inline-block;
}
.header-left.open .form-inline {
    display: block;
}
.header-left .dropdown {
    display: inline-block;
}
.header-left .dropdown .dropdown-toggle {
    background: transparent;
    border: none;
    color: #99abb4;
    font-size: 16px;
    line-height: 55px;
    padding-top: 0;
    padding-bottom: 0;
}
.header-left .dropdown .dropdown-toggle:after {
    display: none;
}
.header-left .dropdown .dropdown-toggle .count {
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    right: 0;
    top: 12px;
    position: absolute;
}
.header-left .dropdown .dropdown-toggle:active,
.header-left .dropdown .dropdown-toggle:focus,
.header-left .dropdown .dropdown-toggle:visited {
    background: none !important;
    border-color: transparent !important;
    color: #F3C969 !important;
}
.header-left .dropdown .dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 0;
    top: 52px !important;
    left: inherit !important;
    right: 0 !important;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    line-height: 35px;
}
.header-left .dropdown .dropdown-menu p {
    font-size: 15px;
    margin: 0;
    padding: 5px 15px;
}
.header-left .dropdown .dropdown-menu .dropdown-item {
    color: #99abb4;
    font-size: 13px;
    padding: 10px 15px 3px;
    text-overflow: ellipsis;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.header-left .dropdown .dropdown-menu .dropdown-item:hover {
    background: rgba(233, 236, 239, 0.5);
}
.header-left .dropdown .dropdown-menu .dropdown-item .photo {
    float: left;
    margin-right: 15px;
    width: 25px;
}
.header-left .dropdown .dropdown-menu .dropdown-item .message .name {
    margin-top: -5px;
}
.header-left .dropdown .dropdown-menu .dropdown-item .message .time {
    font-size: 11px;
}
.header-left .dropdown .dropdown-menu .dropdown-item .message p {
    clear: both;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}
.header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header-menu .dropdown {
    line-height: 55px;
    margin-top: 0 !important;
}
.header-menu .dropdown .dropdown-toggle {
    line-height: 55px;
}
.user-area .dropdown-toggle {
    position: relative;
    z-index: 0;
}
.user-area .dropdown-toggle:before {
    content: "";
    position: absolute;
    right: -3px;
    bottom: 10px;
    background: #868e96;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    border: 2px solid white;
    z-index: 1;
}

.dropdown-menu {
    border-radius: 0;
    -webkit-transform: none !important;
    transform: none !important;
}
.for-notification .dropdown-menu .dropdown-item {
    padding: 5px 15px !important;
    text-overflow: ellipsis;
}
.for-notification .dropdown-menu .dropdown-item i {
    float: left;
    font-size: 14px;
    margin: 5px 5px 0 0;
    text-align: left;
    width: 20px;
}
.for-notification .dropdown-menu .dropdown-item p {
    padding: 0 !important;
    text-overflow: ellipsis;
}
#menuToggle2 {
    padding-left: 25px;
}
.notification-show + .dropdown-menu,
.message-show + .dropdown-menu,
.language-show + .dropdown-menu {
    display: block;
}

.content {
    float: left;
    padding: 1.875em;
    width: 100%;
}
.order-card{
    background-color: #f6597e;
}
.product-card{
    background-color:#fb9678 ;
}
.staff-card{
    background-color: #03a9f3 ;
}
.customer-card{
    background-color: #00c292;
}
.card {
    margin-bottom: 1.875em;
    border-radius: 5px;
    padding: 0;
    border: 2px solid white;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
}
.card .box-title {
    font-weight: 600;
    font-size: 1em;
    padding: 5px 0;
}
.card .card-top,
.card .card-footer {
    background: #ffffff;
    float: left;
    padding: 0.75em 1.125em;
    width: 100%;
}
.card .card-top .card-title,
.card .card-footer .card-title {
    color: #ffffff;
    font-size: 0.875em;
    font-weight: 600;
    padding-top: 5px;
    text-transform: capitalize;
}
.card .card-top button,
.card .card-footer button {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 12px;
    padding: 0 5px;
}
.card .card-top[class*="bg"] .card-title,
.card .card-footer[class*="bg"] .card-title {
    color: #fff;
}
.card .card-top[class*="bg"] button,
.card .card-footer[class*="bg"] button {
    color: #fff;
}
.card .card-top.p-0 .card-title,
.card .card-footer.p-0 .card-title {
    padding: 1.125em;
}
.card .card-top.bg-flat-color-1,
.card .card-footer.bg-flat-color-1 {
    background: #5c6bc0;
    border: none;
}
.card .card-top.bg-flat-color-2,
.card .card-footer.bg-flat-color-2 {
    background: #42a5f5;
    border: none;
}
.card .card-top.bg-flat-color-3,
.card .card-footer.bg-flat-color-3 {
    background: #ffa726;
    border: none;
}
.card .card-top.bg-flat-color-4,
.card .card-footer.bg-flat-color-4 {
    background: #ef5350;
    border: none;
}
.card .card-top.bg-flat-color-5,
.card .card-footer.bg-flat-color-5 {
    background: #4dbd74;
    border: none;
}
.card .card-top.bg-flat-color-6,
.card .card-footer.bg-flat-color-6 {
    background: #66bb6a;
    border: none;
}
.card .card-left {
    width: 60%;
}
.card .card-right {
    width: 40%;
}
.card .card-body {
    float: left;
    padding: 1.25em;
    position: relative;
    max-width: 1000px;

    width: 100%;
}
.card h4 {
    font-size: 1.1rem;
}
.card .user-header .media img {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.card .card-header .card-actions button {
    display: block;
    float: left;
    width: 50px;
    padding: 0.75rem 0;
    margin: 0 !important;
    color: #fff;
    outline: 0;
    text-align: center;
    background: transparent;
    border: 0;
    border-left: 1px solid rgba(120, 130, 140, 0.4);
}
.card .card-footer {
    padding: 0.65rem 1.25rem;
    background-color: #f0f3f5;
    border-top: 1px solid #c2cfd6;
}
.card .card-footer ul li {
    display: table-cell;
    padding: 0 1rem;
    text-align: center;
}
.card .nav-tabs {
    margin-bottom: -1px;
}
.card .nav-tabs a {
    border-radius: 0;
    color: #b5bcc2;
    font-size: 12px;
    font-weight: 700;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
}
.card .nav-tabs a:hover {
    border-color: transparent;
}
.card .nav-tabs .active a {
    border-color: #e8e9ef;
    color: #868e96 !important;
}
.action-menu .dropdown-toggle i {
    font-size: 12px;
}
.action-menu .dropdown-toggle::after {
    display: none;
}

/* Stats Table */
.table-stats table {
    font-family: "Poppins", sans-serif;
}
.table-stats table th,
.table-stats table td {
    border: none;
    border-bottom: 1px solid #e8e9ef;
    color: #868e96;
    font-size: 12px;
    font-weight: normal;
    padding: 0.75em 1.25em;
    text-transform: uppercase;
}
.table-stats table th img,
.table-stats table td img {
    margin-right: 10px;
    max-width: 45px;
}
.table-stats table th .name,
.table-stats table td .name {
    color: #343a40;
    font-size: 14px;
    text-transform: capitalize;
}
.table-stats table td {
    color: #343a40;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    vertical-align: middle;
}