{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link href="{% static 'images/donut.png' %}" rel="icon">
    <link href="{% static 'images/donut.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" href="{% static 'css/signInUp.css' %}" />
    <title>Bread Authentication</title>
</head>

<body>

    <div class="{% include 'util/_class.html' %}">
        <div class="forms-container">
            <div class="login-reg">
                <form action="{% url 'auth' %}" class="reg-form" method="post">
                    {% csrf_token %}

                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i></i>
                        <input type="text" name="username" placeholder="Username" value="{{fieldValues.username}}" />
                    </div>
                    <div class="input-field">
                        <i></i>
                        <input type="email" name="email" placeholder="Email" value="{{fieldValues.email}}" />
                    </div>
                    <div class="input-field">
                        <i></i>
                        <input type="text" name="address" placeholder="Address" value="{{fieldValues.address}}" />
                    </div>
                    <div class="input-field">
                        <i></i>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    {% include 'util/_signup_messages.html' %}
                    <p class="body-text-grey">On clicking signup, You will agree to our T&C's</p>
                    <input type="submit" class="btn" value="Sign up" />
                    <div class="social-media">
                    </div>
                </form>
                <form action="{% url 'auth' %}" class="log-form" method="post">
                    {% csrf_token %}
                    <h2 class="title">Sign in</h2>
                    <div class="input-field"><i></i>
                        <input type="text" name="username" placeholder="Username" value="{{fieldValues.username}}" />
                    </div>
                    <div class="input-field"><i></i>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    {% include 'util/_signup_messages.html' %}
                    <input type="submit" value="Login" class="btn solid" />
                    <p class="body-text">Forget Password?</p>
                    <div class="social-media"></div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Already have an account?</h3>
                    <p>Sign in and continue managing your business with Bread!</p>
                    <button class="btn transparent" id="sign-up-btn">Sign in</button>
                </div>
                <img src="{% static 'svg/cupcakes.svg' %}" class="image" alt="Cup-cakes" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Don't have an account?</h3>
                    <p>Sign up now and start managing your business with Bread!</p>
                    <button class="btn transparent" id="sign-in-btn">Sign up</button>
                </div>
                <img src="{% static 'svg/bread_box.svg' %}" class="image" alt="Cake-box" />
            </div>
        </div>
    </div>
    <script src="{% static 'js/signInUp.js' %}"></script>
</body>

</html>