{% extends 'base/base.html' %}

{% block title %}Order List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{% url 'dashboard' %}">Manage</a></li>
                        <li><a href="{% url 'create-order' %}">Order</a></li>
                        <li class="active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<!--MESSAGE PANEL-->
{% if messages %}
    {% for message in messages %}
        {% if message.tag == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% elif message.tag == "error" %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-xl-12" align="center">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Order List</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Staff</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Toppings</th>
                                    <th>Description</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if order %}
                                {% for order in order %}
                                <tr>
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td>{{ order.staff }}</td>
                                    <td>{{ order.product }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.toppings }}</td>
                                    <td>{{ order.description }}</td>
                                    <td>{{ order.customer }}</td>
                                    <td>{{ order.created_date }}</td>
                                    <td>
                                        {% if order.status == 'pending' %}
                                        <a class="btn btn-warning btn-sm disabled" role="button" href="">{{ order.status}}</a>
                                        {% elif order.status == 'decline' %}
                                        <a class="btn btn-danger btn-sm disabled" role="button" href="">{{ order.status}}</a>
                                        {% elif order.status == 'complete' %}
                                        <a class="btn btn-success btn-sm disabled" role="button" href="">{{ order.status}}</a>
                                        {% elif order.status == 'approved' %}
                                        <a class="btn btn-primary btn-sm disabled" role="button" href="">{{ order.status}}</a>
                                        {% elif order.status == 'bulk' %}
                                        <a class="btn btn-secondary btn-sm disabled" role="button" href="">{{order.status}}</a>
                                        {% else %}
                                        <a class="btn btn-info btn-sm disabled" role="button" href="">{{ order.status}}</a>
                                        {% endif %}
                                    </td>

                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>No Order Data</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- /.card -->
{% include 'base/paginator.html' %}
    </div> <!-- /.col-lg-8 -->
</div>
{% endblock content %}